import streamlit as st
from lightning.utilities.state import AppState
import pydoc


render_fn_preamble = getattr(pydoc.importfile("{{ render_fn_module_file }}"), "{{ render_fn_name }}")


def render_fn(state: AppState) -> None:

    render_fn_preamble(state)

    config = {}

    {% if targets|length > 1 %}
    config["target"] = st.selectbox("Target", options=[{% for target in targets %}"{{ target }}",{% endfor %}]{% if "target" in defaults %}, index={{ targets.index(defaults["target"]) }} {% endif %})
    {% else %}
    config["target"] = "{{ targets|first }}"
    {% endif %}

    {% for target in targets %}
    if config["target"] == "{{ target }}":
        {% for arg, type in args[target].items() %}
        {% if type == "string" %}
        {{ arg }} = st.text_input("{{ arg|replace("_", " ")|title }}"{% if arg in defaults %}, "{{ defaults[arg] }}" {% endif %})
        if {{ arg }}:
            config["{{ arg }}"] = {{ arg }}
        {% endif %}
        {% if type == "int" %}
        config["{{ arg }}"] = st.number_input("{{ arg|replace("_", " ")|title }}", value={% if arg in defaults %}{{ defaults[arg] }}{% else %}0{% endif %})
        {% endif %}
        {% if type == "float" %}
        config["{{ arg }}"] = st.number_input("{{ arg|replace("_", " ")|title }}", value={% if arg in defaults %}{{ defaults[arg] }}{% else %}0.0{% endif %})
        {% endif %}
        {% if type == "bool" %}
        config["{{ arg }}"] = st.checkbox("{{ arg|replace("_", " ")|title }}"{% if arg in defaults %}, {{ defaults[arg] }} {% endif %})
        {% endif %}
        {% endfor %}
    {% endfor %}

    state.config = config
